.top-head {
  width: 100%;
  height: 40px;
  background-color: #13381d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;

  .input-wrapper {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 6%;
  }

  .input-con {
    width: 90%;
    height: 90%;
    background-color: #13381d;
    border: none;
    outline: none;
    font-size: 14px;
    color: white;
    padding: 5px;
  }

  .head-right {
    width: 42%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    font-weight: 600;

    p {
      cursor: pointer;
      font-size: 12px;
    }

    p:hover {
      text-decoration: underline;
    }
  }
}

input::placeholder {
  color: rgb(128, 166, 160);
  font-size: 14px;
}

.head-container {
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  gap: 10px;
  position: sticky;
  top: 40px;
  z-index: 100;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .first-con {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20%;
    margin-left: 20%;
    justify-content: center;
    font-size: 16px;
    color: #1f4d2b;
    font-weight: 600;

    p:hover {
      color: orange;
      cursor: pointer;
      transition: all ease-in-out 200ms;
    }
  }

  .logo-container {
    width: 6%;
    height: 100%;
    margin-left: 10px;
    margin-bottom: 7px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .last-con {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20%;
    justify-content: center;
    font-size: 16px;
    color: #1f4d2b;
    font-weight: 600;

    p:hover {
      color: rgb(254, 195, 35);
      cursor: pointer;
      transition: all ease-in-out 200ms;
    }
  }

  .burger {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .top-head {
    width: 100%;
    height: 40px;
    background-color: #13381d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;

    .input-wrapper {
      width: 30%;
      height: 100%;
      display: none;
      align-items: center;
      margin-left: 6%;
    }

    .input-con {
      width: 90%;
      height: 90%;
      background-color: #13381d;
      border: none;
      outline: none;
      font-size: 14px;
      color: white;
      padding: 5px;
    }

    .head-right {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5%;
      font-weight: 600;

      p {
        cursor: pointer;
        font-size: 11px;
      }

      p:hover {
        text-decoration: underline;
      }
    }
  }

  input::placeholder {
    color: rgb(128, 166, 160);
    font-size: 14px;
  }

  .head-container {
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    gap: 0px;
    position: sticky;
    gap: 12%;
    justify-content: space-between;
    top: 40px;
    z-index: 100;

    .first-con {
      width: 20%;
      height: 100%;
      display: none;
      align-items: center;
      gap: 20%;
      margin-left: 0%;
      justify-content: center;
      font-size: 11px;
      color: #1f4d2b;
      font-weight: 600;

      /* p:hover {
        color: white;
        cursor: pointer;
        transition: all ease-in-out 200ms;
      } */
    }

    .logo-container {
      width: 16%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .last-con {
      width: 20%;
      height: 100%;
      display: none;
      align-items: center;
      gap: 20%;
      justify-content: center;
      font-size: 11px;
      color: #1f4d2b;
      font-weight: 600;
      margin-right: 11%;
      margin-left: 6%;

      p:hover {
        color: white;
        cursor: pointer;
        transition: all ease-in-out 200ms;
      }
    }

    .burger {
      display: flex;
      margin-right: 20px;
      font-size: 20px;
    }
  }
}
